@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
font-family: 'Roboto', sans-serif;
background-color: #EEF9BF;
color: #75B79E;
text-align: center;
}

p {

font-size: 4rem;
font-weight: 700;
line-height: 66px;
letter-spacing: -0.004em;
margin: 15px 0;

}

.jogo {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10%;
}


.carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 30px;
  }
  .carta:active {
    transform: scale(0.95);
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 500ms ease;
    transform-style: preserve-3d;
  }

.back-face {
    transform: rotateY(180deg);
  }
  .back-face img {
    width: 117px;
    height: 146px;
  }
  .vira-carta .back-face{
    transform: rotateY(0deg);
  }
  .vira-carta .front-face{
    transform: rotateY(-180deg);
  }

  .acertou {
    filter: saturate(0);
    opacity: 0.5;
  }