@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
font-family: 'Roboto', sans-serif;
background-color: #EEF9BF;
color: #75B79E;
text-align: center;
}

p {

font-size: 56px;
font-weight: 700;
line-height: 66px;
letter-spacing: -0.004em;
margin-top: 30px;

}

.jogo {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.ladoA, .ladoB{

        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

} 

.carta {
    height: 146px;
    width: 117px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    margin: 20px;
    border-radius: 5px;
}

.cartaFD {
    height: 146px;
    width: 117px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    margin: 20px;
    border-radius: 5px;
}